// Variables for colours

dark-grey = #3F3F3F
upper-grey = #656565
medium-grey = #7F7F7F
light-grey = #8C8C8C
pale-grey = #CBCBCB
fade-grey = #E8E8E8

// Variables for fonts

font-small = 10px
font-medium = 16px
font-large = 18px
font-upper = 22px

font-regular = 300
font-bold = 600
font-heavy = 800