/*! Blog Settings
========================================================================== */

.pane-blog
	column(7)

	@media tablet
		column(9)
	@media phone
		column(12)

.blog-teaser
	margin: 0 0 4em 0