/*! Contact Settings
========================================================================== */

.pane-contact-me
	column(7)

	input
		padding: 5px
		color: white
		background: light-grey
		border: 1px medium-grey

		&:hover
			color: dark-grey
			background: pale-grey

	input#edit-submitted-name
		width: 250px;
		padding: 0.2em 0.5em 0.2em 0.5em
		background: fade-grey
		border: none

	input#edit-submitted-new-e-mail
		width: 250px
		padding: 0.2em 0.5em 0.2em 0.5em
		background: fade-grey
		border: none

	input#edit-submitted-phone-number
		padding: 0.2em 0.5em 0.2em 0.5em
		background: fade-grey
		border: none

	textarea#edit-submitted-message
		padding: 0.2em 0.5em 0.2em 0.5em
		background: fade-grey
		border: none